* {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  background: transparent;
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
  outline: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: sans-serif;
}
:root {
  --text-color-dark: #335368;
  --text-color-light: #efefef;
}
ol,
ul {
  list-style: none;
}
blockquote {
  quotes: none;
}
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}
del {
  text-decoration: line-through;
}
header,
section,
article,
aside,
nav,
footer,
address {
  display: block;
}

input,
textarea,
select {
  font-family: sans-serif;
}
.image {
  width: 100%;
  height: 100%;
  display: inline-block;
}
a {
  text-decoration: none;
}
.wrapper {
  width: 90%;
  margin: 0 auto;
  max-width: 1450px;
}

/* style starts here */

#home { 
  background: rgb(2,0,36);
  background: linear-gradient(135deg, rgba(2,0,36,1) 34%, rgba(179,6,49,1) 85%);
}

#home header { 
  display: flex;
  align-items: center;
}

#home header .logo { 

}

#home header h1 a { 
  font-size: 50px;
  color: #f7f7f7;
}

#home header .search-box { 
  display: flex;
  align-items: center;
}

#home header .search-box .icon { 
  width: 50px;
  height : 50px;
}

#home header .search-box .icon .image { 

}

#home header .search-box input { 

}